body, html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url("https://raw.githubusercontent.com/Zortagon/zortagon.github.io/master/img/header.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    font-size: 3rem;
    color: #E2DBDB;
}
.buffer {
    height: 11rem;
}
.btn {
    border-radius: 300px;
}
.btn-primary {
    background-color: rgb(221, 88, 64);
    border-color: rgb(221, 88, 64);
}
.btn-primary:hover {
    background-color: rgb(165, 67, 50);
    border-color: rgb(165, 67, 50);
}
.btn-header {
    padding: 1rem 2rem;
}
